<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>assignement 2 - first server</title>
    <link href="/css/style.css" rel="stylesheet">
  </head>
  <body>
    <h1>Assignment 2 - interaction between frontend and back end</h1>
    <button onclick="fetchData(5)">Fetch with 5</button>
    <button onclick="fetchData(10)">Fetch with 10</button>
    <div id="resultContainer"></div>
    <script src="/js/scripts.js"></script>
  </body>
</html>
